.Form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-top: 75px;
  
}

.Form h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
  background-color:rgb(204, 196, 187);
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Form form div {
  margin-bottom: 20px;
  border-radius: 15px;

}

.Form form label {
  font-weight: bold;
  
}

.Form form input,
.Form form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #d4d6d1;
}

.Form form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #efe7e7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Form form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.Form button:hover {
  background-color: #d0d369;
}

.Form ul {
  list-style: none;
  padding: 4px;
  background-color: #c1da9e;
  border-radius: 10px;
}

.Form ul li {
  margin-bottom: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Form div button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
}
