.Form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  margin-top: 75px;
  background-color: #d2dae2;
}

.Form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
}

.Form label > label {
  font-weight: bold;
 
  margin-top: 15px;
}

.Form input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* .Form button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Form button[type="submit"]:hover {
  background-color: #0056b3;
} */
