body{
    /* background-image: url(./collage-de-perros-con-sombrero-fiesta-ai-generativo-en-el-generativa-273512524.webp); */
    background-color:#E5E5E5;
    background-size: cover;
    background-repeat: no-repeat;

}; 

