.Home {
    background-color: rgb(140, 131, 119);
    
}

.buttonPrev button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #48260a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .buttonPrev button:hover {
    background-color: #ff8f00;
  }

  .filtersContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .filtersContainer label {
    margin-right: 10px;
  }
  
  .filtersContainer input[type="text"],
  .filtersContainer select {
    padding: 5px;
  }
  
  .filtersContainer button {
    padding: 8px 12px;
    background-color: #a7a454;
    color: #040404;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filtersContainer button:disabled {
    background-color: #999999;
    cursor: not-allowed;
  }
  
  .filterType {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .resetButton {
    margin-left: 10px;
  }